@font-face {
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    src: url('//cdn.jsdelivr.net/bootstrap/3.0.1/fonts/glyphicons-halflings-regular.eot');
    src: url('//cdn.jsdelivr.net/bootstrap/3.0.1/fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/bootstrap/3.0.1/fonts/glyphicons-halflings-regular.woff') format('woff'), url('//cdn.jsdelivr.net/bootstrap/3.0.1/fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('//cdn.jsdelivr.net/bootstrap/3.0.1/fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}